#Main
  .Pickup-header
    ピックアップカテゴリー
  .Items
    .Items__text
      レディース新着アイテム
    .Items__content
      .content__box1
        .photo
          = image_tag "https://static.mercdn.net/thumb/photos/m84062837012_1.jpg?1565133102", size: "213x220"
        .data
          .name
            KASHIKEY カシケイ K18BGネイキッドブローチ
          .num
            .price
              ¥ 84,500
            .like
              ♡
      .content__box2
        .photo
          = image_tag "https://static.mercdn.net/thumb/photos/m83100926579_1.jpg?1565006595", size: "213x220"
        .data
          .name
            LATINA 新品 レースVネッックリブキャミワンピース
          .num
            .price
              ¥ 2,800
            .like
              ♡
      .content__box3
        .photo
          = image_tag "https://static.mercdn.net/thumb/photos/m39551534290_1.jpg?1565495262", size: "213x220"
        .data
          .name
            ズンバ パンツ
          .num
            .price
              ¥ 3,900
            .like
              ♡
    .Items__more
      全ての商品を見る