#Main
  .Pickup-header
    ピックアップカテゴリー
  .Items
    .Items__text
      レディース新着アイテム
    .Items__content
      .content__box1
        .photo
        .data
          .name
            新品未使用
          .num
            .price
              ¥ 1,980
            .like
              ♡
      .content__box2
        .photo
        .data
          .name
            使用済み
          .num
            .price
              ¥ 1,000
            .like
              ♡
      .content__box3
        .photo
        .data
          .name
            超新品
          .num
            .price
              ¥ 3,980
            .like
              ♡
    .Items__more
      全ての商品を見る