.Header
  .Contents
    .Contents__name
      mercari
    .Contents__search
      何かお探しですか？
    .Contents__category
      カテゴリーから探す
    .Contents__search-brand
      ブランドから探す
    .Contents__sign-up
      新規登録
    .Contents__sign-in
      ログイン