.Wrapper
  #Top
    .Header
      .Header__top
        .top__name
          チームC
        .top__search
          .search__word
            何かお探しですか？
            =fa_icon "search", class: 'icon'

      .Header__mid
        .mid__left
          .left__category
            =fa_icon "list-ul", class: 'icon'
            カテゴリーから探す
          .left__search-brand
            =fa_icon "tag", class: 'icon'
            ブランドから探す
        .mid__right
          .right__sign-up
            新規会員登録
          .right__sign-in
            ログイン
      .Header__bottom
        .bottom__Advertisings
          .Advertisings__nav
            .nav__next
              =fa_icon "chevron-right", class: 'icon'
            .nav__prev
              =fa_icon "chevron-left", class: 'icon'
            .nav__dots
              ● ●
  #Main
    .Pickup-header
      ピックアップカテゴリー
    .Items
      .Items__text
        レディース新着アイテム
      .Items__content
        .content__box1
          .photo
          .data
            .name
              新品未使用
            .num
              .price
                ¥ 1,980
              .like
                ♡
        .content__box2
          .photo
          .data
            .name
              使用済み
            .num
              .price
                ¥ 1,000
              .like
                ♡
        .content__box3
          .photo
          .data
            .name
              超新品
            .num
              .price
                ¥ 3,980
              .like
                ♡
      .Items__more
        全ての商品を見る
  #App
    .Apps
      .Apps__content
        %h2 スマホでかんたんフリマアプリ
        %p 今すぐ無料ダウンロード！
        .app-banner-icon
          .app-icon
          .app-download
            .apple
            .google
      .Apps__picture